.logo {
  display: flex;
  align-items: center;
  height: 85vh;
  flex-direction: column;

}

hr{
  margin-bottom: -4vh;
  width : 12%;
  transform: rotate(155deg);
  border: 1vh solid;
}

.online{
  font-weight: 900;
  font-size: 12vh;
  margin-bottom: -3vh;
}

.o{
  color: #c52747;
}

.formapro{
  font-size: 3vh;
  letter-spacing: 1.7vh;
  font-weight: 100;
}
